<br>
<br>
<h3><ins>Estadísticas</ins></h3>
<br>
<br>
<p>
    <ul style="list-style-type:none">
        <li><b>Preguntas : </b><%= statistics.cQuizes%></li>
        <li><b>Comentarios : </b><%= statistics.cComments%></li>
        <li><b>Preguntas con Comentarios : </b><%= statistics.cQuizesWithComment%></li>
        <li><b>Preguntas sin Comentarios : </b><%= statistics.cQuizesWithoutComment%></li>
        <li><b>Número medio de Comentarios : </b><%= statistics.mediaComments%></li>
    </ul>
</p>